.formContainer {
    color: orange;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    background-color: #eee;
    box-shadow: 0 0 5px 1px orange;
}

.formWrapper {
    background-color: #323539;
}

.registerForm {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

input {
    border: none;
}

.field {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    color: rgb(129, 128, 128);
    width: 70%;
}

.field > input:focus {
    outline: none;
}

.fieldText label {
    display: block;
    position: absolute;
    top: 0;
    left: 3px;
    opacity: 0.7;
    transition: transform 0.3s ease-in-out;
    cursor: text;
}

.fieldText input:not(:placeholder-shown) + label {
    transform: translateY(-1rem);
    font-size: 0.8rem;
    opacity: 1;
    font-weight: bold;
}

.fieldText input::placeholder {
    color: transparent;
}

.fieldInput {
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid orange;
}

.submitBtn {
    display: block;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background-color: orange;
    cursor: pointer;
    color: black;
}

.loginRedirect {
    font-size: 0.8em;
    font-style: italic;
    color: #ccc;
}

.loginRedirect a {
    display: inline-block;
    color: orange;
    padding: 0em 0.5em;
}
