.formContainer {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 4em;
}

.formWrapper {
    background-color: #0d0d0dcc;
}

.registerForm {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    box-shadow: 0 0 3px 0 orange;
}

input {
    border: none;
}

.field {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    color: rgb(129, 128, 128);
    width: 100%;
}

.field > input:focus {
    outline: none;
}

.fieldText label {
    display: block;
    position: absolute;
    top: 0;
    left: 3px;
    opacity: 0.7;
    transition: transform 0.3s ease-in-out;
    cursor: text;
}

.fieldText input:not(:placeholder-shown) + label {
    transform: translateY(-1rem);
    font-size: 0.8rem;
    opacity: 1;
    font-weight: bold;
}

.fieldText input::placeholder {
    color: transparent;
}

.fieldInput {
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid orange;
}

.submitBtn {
    width: 100%;
    display: block;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background-color: orange;
    cursor: pointer;
    color: black;
}
.submitBtn:hover {
    background-color: rgba(255, 166, 0, 0.797);
}
.loginRedirect {
    font-size: 1.5em;
    font-style: italic;
    color: #ccc;
}

.loginRedirect a {
    display: inline-block;
    color: orange;
    padding: 0em 0.5em;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}

@media (width > 800px) {
    .formContainer {
        max-width: 400px;
    }
    .registerForm {
        gap: 1.5em;
    }
    .field {
        width: 70%;
    }
    .loginRedirect {
        font-size: 0.8em;
    }
    .submitBtn {
        width: 20%;
    }
}
