.menu {
    background-color: #323539;
    color: white;
    border-radius: 0.3em;
}
.menu > ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}
.menu > ul li {
    display: flex;
    gap: 1em;
    align-items: baseline;
    list-style: none;
    font-size: 0.8em;
    color: #a7a7a7;
}
.menu > ul li i {
    color: darkorange;
}

.list-item:hover {
    background-color: rgba(0, 0, 0, 0.165);
    color: white;
    padding: 0.5em 1em;
    font-size: 0.9em;
    border-radius: 0.5em;
    transition: 0.2s padding ease-out, 0.3s color ease-in,
        0.3s background-color ease-in;
}
