.left-side-menu {
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.left-side-menu .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.profile-info img {
    border: 3px solid rgb(215, 68, 134);
    max-width: 100px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
}
.profile-name {
    position: relative;
}
.profile-name::after {
    position: absolute;
    top: -10px;
    right: -23px;
    display: block;
    content: "✓";
    background-color: blue;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-align: center;
    line-height: 1em;
    color: white;
}
.additional-info {
    background-color: #323539;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    border-radius: 0.3em;
}
.additional-info > .columns > p:nth-child(2) {
    font-size: 0.8em;
    color: #a7a7a7;
}
.menu {
    background-color: #323539;
    color: white;
    border-radius: 0.3em;
}
.menu > ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}
.menu > ul > li {
    display: flex;
    gap: 1em;
    align-items: baseline;
    list-style: none;
    font-size: 0.8em;
    color: #a7a7a7;
}
.menu > ul > li i {
    color: darkorange;
}
