@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 Lato, sans-serif;
}

body {
    background-color: black;
}
h1 {
    font-size: 2.6em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.5em;
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
}
input {
    font: inherit;
}

@media (width > 800px) {
    html {
        font-size: 16px;
    }
    .dashboard {
        display: flex;
        width: 90%;
    }
    .card {
        width: 90%;
    }
    .left-side-menu {
        display: flex;
    }
    .feature {
        flex: 0 0 30%;
    }
    .join {
        width: 40%;
    }
    .features {
        width: 60%;
    }
}
@media (width > 1500px) {
    html {
        font-size: 18px;
    }
    .dashboard {
        width: 60%;
    }
    .content {
        width: 60%;
    }
}
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #131415;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
