.post-container {
    padding: 1em;
}
.post-card {
    display: flex;
    padding: 0.5em;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.305);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px 0 rgba(241, 175, 75, 0.387);
    max-width: 1000px;
    width: 100%;
    align-items: center;
}
.left-section {
    flex: 1 0 60%;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #eee;
}

.post-header-info {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    margin-right: 1em;
    max-width: 50px;
    aspect-ratio: 1/1;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    margin: 0;
}

.post-date {
    margin: 0;
    font-size: 0.7em;
    color: silver;
}

.post-content {
    font-size: 0.9em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.post-content img {
    max-width: 100%;
    margin-top: 1em;
    aspect-ratio: 1/1;
}

.post-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5em;
    margin-top: 1em;
}

.like-btn,
.edit-btn,
.delete-btn {
    background-color: rgb(72 69 69 / 71%);
    flex: 1 0 30%;
    color: silver;
    border: none;
    padding: 0.7em;
    cursor: pointer;
    box-shadow: 0 0 3px 0 rgba(242, 242, 242, 0.1);
    font-size: 1em;
    text-align: center;
}

.delete-btn {
    background-color: #ff4f605e;
    color: silver;
}

.edit-btn:hover,
.like-btn:hover {
    background-color: #424141f5;
}

.delete-btn:hover {
    background-color: #c82333;
}
.right-section {
    flex: 0 0 40%;
}
.comments-section {
    padding: 0.5em 2em;
}

.comments-section h4 {
    margin: 0 0 1rem 0;
    color: white;
    font-size: 1em;
}
.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-form textarea {
    padding: 1em;
    border: 1px solid #ccc;
    font-size: 0.7em;
    margin-bottom: 1em;
    background-color: #ccc;
}

.comment-form button {
    padding: 0.5em;
    border: none;
    background-color: orange;
    color: black;
    font-size: 1em;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: darkorange;
}
