.comment {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    color: black;
}

.comment-content {
    padding: 0.5em;
    width: 100%;
    position: relative;
    background-color: #a7a7a7;
}

.comment-text {
    margin: 0;
    font-size: 0.8em;
}

.delete-btn {
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    background-color: #a53641db;
    color: silver;
    cursor: pointer;
    border: none;
}
.delete-btn:hover {
    background-color: #c82333;
}
