.card {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: whitesmoke;
    color: white;
    gap: 1em;
    border-radius: 0.3em;
    background-color: rgba(0, 0, 0, 0.151);
    box-shadow: 0 0 10px -5px orange;
}

.card-header {
    padding: 0.5em 1em;
    display: flex;
    gap: 1em;
    align-items: center;
}

.suggestions-details img,
.card-header > .author-img img {
    width: 3em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 5px 0px rgb(0, 0, 0, 0.5);
}
.suggestions-details p {
    font-size: 0.8em;
}
.description {
    padding: 0 1em;
    font-size: 0.8em;
}
.description::before {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 0.5em;
    background-color: rgba(187, 187, 187, 0.501);
    height: 0.1em;
    content: "";
}
.description > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-image img {
    width: 100%;
    aspect-ratio: 3 / 2;
    margin: 0 auto;
    box-shadow: 0 0 5px 0px rgb(0, 0, 0, 0.5);
}
.likes-comments-container {
    font-size: 0.9em;
    padding: 0.5em 1em;
    color: #a7a7a7;
    display: flex;
    justify-content: space-between;
}
.card-footer {
    border-top: 1px solid #a7a7a7;
    display: flex;
    gap: 1em;
}
.card-footer button {
    font-size: 1.2em;
    border: 0;
    background-color: #40404000;
    color: #a7a7a7;
    cursor: pointer;
    flex: 1 0 40%;
    padding: 1em 0;
}
.card-footer button:hover {
    background-color: #424141f5;
}

@media (max-width: 800px) {
    .card {
        width: 90%;
    }
}
