.site-header {
    box-shadow: 0 0 3px 0 rgba(255, 140, 0, 0.571);
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 1em;
}
.site-header .site-logo {
    color: darkorange;
}

.functions {
    display: flex;
    align-items: center;
    flex: 0 1 15%;
}

.navigation-menu {
    display: flex;
    align-items: center;
}

.navigation-menu > .menu-list {
    display: flex;
    gap: 1em;
}
.navigation-menu > .menu-list li {
    color: white;
    list-style: none;
    background-color: #404040;
    border-radius: 0.3em;
    overflow: hidden;
}
.navigation-menu > .menu-list li a {
    padding: 0.5em 1em;
    font-size: 0.9em;
}
.navigation-menu > .menu-list li.create-post {
    background-color: darkorange;
    color: black;
}
