.registered-users {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.305);
    border-radius: 0.3em;
    box-shadow: 0 0 10px -5px orange;
    color: whitesmoke;
    padding: 1em;
}
.user-list-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
