.user-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(123, 105, 2, 0.293);
    border-radius: 0.5em;
    overflow: hidden;
}
.user-list img {
    width: 60px;
    aspect-ratio: 1/1;
}
.user-list p {
    font-size: 1.2em;
}
.buttons {
    display: flex;
    gap: 1em;
    padding: 0 1em;
    font-size: 1.5em;
}
